*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffff;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background: var(--fundo-principal);
    color: var(--texto);
}

header{
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
#menu ul{
    display: flex;
    list-style: none;
    gap: 10px;
    
}
#menu a{
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.3s;
}
#menu a:hover{
    background-color: var(--destaque-inverso);
    color: var(--destaque);

}